@import url(./nav.css);
@import url(./hero.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

.tools{
  fill: white;
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.section{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  min-height: 100vh
  /* display: flex;
  justify-content: center; */
}
.section:not(#home) .desc{
  @apply  w-full sm:w-[70%];
  color: rgb(255 255 255 / 35%);
  font-weight: 300;
  font-family: monospace;
  font-size: 14px;
}
.card{
  border: 1px solid rgba(128, 128, 128, 0.492);
}
.det{
  text-transform: capitalize;
}
.lang{
  padding: 5px 10px;
  background: #41414142;
  border-radius: 160px;
  color: #ffffffbd;
  cursor: pointer;
}
.sub_text{
  color: #ff7600;
  cursor: pointer
}.font{
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif

}
.socials{
  @apply flex items-center gap-[20px] mx-[20px]
}
.btn_outline{
  @apply bg-none rounded-md;
  padding: 5px 10px;
  border: 1px solid #ff7600;
  white-space: nowrap;
  /* color: #f  f7600; */
  /* @apply rounded-full border border-black bg-transparent py-1.5 px-5 text-black transition-all hover:bg-black hover:text-white text-center text-sm flex items-center justify-center; */
}
.header{
  @apply mt-5 text-5xl font-extrabold leading-[1.15] text-white sm:text-6xl;
  font-family: system-ui;
  font-size: 50px;
  height: 70px;
}
.dot{ 
  color: #ff7600;
}

.reveal{
  width: fit-content;
}
@media (min-width: 640px) {
  .desk{
      /* background: #000; */
      display: flex;

  }
  .section{
      padding: 100px;
  }
  .mob{
      display: none;
  }
  .btn_outline{
    padding: 5px 10px;
  }
  .top_nav{
    @apply px-10
  }

}
section .header{
  position: relative;
}
.section .header::after{
  position: absolute;
  bottom: 0;
  content: '';
  width: 50%;
  right: 0;
  height: 3px;
  background: #ff7600;
}
li{
  list-style: none;
}
