
.hero{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* background: red; */
    position: relative;
    gap: 20px;
    height: fit-content;
    padding: 10px;
}

.hero::before{
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    /* height: 50%; */
    background: #ff7600;
    /* background-repeat: repeat-y; */
}
.sub_header{
        @apply  text-[20px] capitalize tracking-wider;
        color: rgba(255, 255, 255, 0.745);
}
.sub_header span{
    color: #ff7600;
}
.desc{
    width: 70%;
    color: rgba(255, 255, 255, 0.789);
    font-weight: 400;
    @apply  w-full sm:w-[70]
}
.hero button{
    background: #ff7600;
    padding: 5px 15px;
    color: black;
    border-radius: 5px;
    font-weight: 500;
}
@keyframes line1 {
    0%{
        height: 0;
        opacity: 1;
    }
    100%{
        height: 80vh;
        opacity: 0;
    }
}
@keyframes line2 {
    0%{
        width: 0;
        opacity: 1;
    }
    100%{
        width: 80vw;
        opacity: 0;
    }
}
@media (min-width: 640px) {

    .hero{
        width: 50vw;
    }
}