.desk{
    display: flex;
    width: 60px;
    padding: 5px;
    border-radius: 160px;
    border: 1px solid rgba(128, 128, 128, 0.492);
    height: 500px;
    position: fixed;
    top: 50%;
    left: 2%;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(15px);
    z-index: 40;
}
.top_nav{
    @apply flex px-5 py-2 fixed top-0 z-40 justify-between w-full;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(15px);
}
#Layer_1{
    width: 45px;
    height: 45px;
    cursor: pointer;
}
.menu{
    fill: orange;
}
.desk .logo{
    background: #292929;
    padding: 5px;
    border-radius: 50%;
    margin-top: 10px;
}
@media (min-width: 640px) {
    .section{
        padding: 100px;
    }
}
.links{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-around;
    /* margin-top: 20px; */
    height: 100%;
}
@media (max-height: 640px) {
    .desk{
        height: 250px;
    }
}